<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inittial-scale=1.0">
    <tittle>MEU PRIMEIRO LAYOUT EM HTML</tittle>
</head>
<body>
    <div id="menu">
        <nav>
            <ul style="list-style: none;">
                <li>Home</li>
                <li>Receitas salgadas</li>
                <li>Receitas doces</li>
            </ul>
        </nav>
    </div>
    <div id="conteudo">
        <section style="display: flex;">
            <div id="Receitas-salgados"></div>
            <ul>
                <li>Receita 1</li>
                <li>Receita 2</li>
                <li>Receita 3</li>
                <li>Receita 4</li>
                <li>Receita 5</li>
                <li>Receita 6</li>
            </ul>
        <div id="receitas-doces"></div>
            <ul>
                <li>Receita 1</li>
                <li>Receita 2</li>
                <li>Receita 3</li>
                <li>Receita 4</li>
                <li>Receita 5</li>
                <li>Receita 6</li>
            </ul>
        </section>
        <section style="display: flex; width: 50vw;">
            <div class="imagem"><img src="images/close-up-hand-holding-spoon.jpg" style="width: 100%;"/></div>
            <div class="imagem"><img src="images/close-up-hands-holding-food-croquette.jpg"style="width: 100%;"/></div>
        </section>
    </div>
</body>
</html>